body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}

header {
  text-align: center;
}

#dynamic-text {
  font-size: 24px;
  color: neon-green;
  font-weight: bold;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.fade-in-text {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Button styling */
button {
  background-color: neon-green;
  border: none;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: white;
}

footer {
  text-align: center;
  margin-top: 20px;
}
